.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
  }
  
  .rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }  
  .rightbarUsername{
      font-weight: 500;
      max-width: 100px;
  }
  .custom-modal-style {
    width: auto;
    height: auto;
  }
  .modalImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:109px;
  }

  #ma{
    margin-left: 250px;
    /* margin-right: -50px; */
  }