.sidebar{
    flex:3;
    height:91.5vh;
    background-color: antiquewhite;
}
.sidebarwrapper{
    padding:20px;
    background-color: green;
}
.sidebar .sidebarImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:109px;
}
.Name{
    text-align: center;
}
.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .editButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(5, 160, 132);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}